* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid tomato;
}

body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 3fr;
    font-size: 1.2rem;
}

nav {
    grid-row: 1 / -1;
    display: grid;
    align-content: flex-start;
    gap: 50px;
}

nav > section:first-child > span {
    font-size: 2rem;
}

nav img {
    margin: 10px;
}

nav > section:first-child, nav div {
    display: flex;
    align-items: center;
}

nav section > img:first-child {
    width: 2.5rem;
}

main {
    grid-row: 2 / -1;
}

img {
    width: 1.5rem;
    height: auto;
}
